@using MVC0507.Models
@model IEnumerable<Product>
@{
    ViewBag.Title = "Home Page";
}


@foreach (var item in Model)
{
    <div>@item.Name</div>
    <h3>@item.Price</h3>
}
<button id="button1">点击跳转</button>
<div id="div1">

</div>
<table id="Table1" class="display" width="100%"></table>


<link rel="stylesheet" type="text/css" href="~/Scripts/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="~/Scripts/jquery.dataTables.js"></script>
<script>
    $(function () {
        $("#Table1").DataTable({
            "ajax": {
                "url": "/Home/GetData",
            }
        });
    });
</script>