@using MVC0507.Models
@model IEnumerable<Product>
@{
    ViewBag.Title = "Home Page";
}


@foreach (var item in Model)
{
    <div>@item.Name</div>
    <h3>@item.Price</h3>
}
<button  id="button1">点击跳转</button>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">

    $(function () {
        $("#button1").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "Process/Payment",
                method: "Get",
                data: '',
                dataType: "json",
                done: function (data) {
                    window.location.href(data.newUrl);
                    alert(data);
                },
                error: function () {
                    alert("Ajax call failed");
                }
            })
        })
    })


</script>