@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>

</head>
<body>
    <input type="text" id="searchtext"/>
    <button id="button1" onclick="search()">Search</button>
    <div id="header"> 
        @Html.Action("filterresult", "Home")
    </div>
    <hr />
    <h2>After PartialView</h2>
    <script>
        function search() {
            debugger;
            $.ajax({
                type: "Post",
                url: '@Url.Action("filterresult","Home")',
                data: {id:$("#searchtext").val()},
                datatype: "json",
                success: function (data) {
                    debugger;
                    $("#header").html(data);
                }
            })
        }
    </script>
</body>
</html>
