
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table1').DataTable({
                //"processing" : true, 
                //"serverSide" : true,
                "ajax": {
                    "url": "/Home/GetData",
                    "type":"Get"
                },
                "sAjaxDataProp": "",
                "columns": [
                    { "data": "ID" },
                    { "data": "Name" },
                    { "data": "Price" },
                ]
            });
        });
    </script>

</head>
<body>
    <div> 
        <table id="table1" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
