<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="test_ep" address="http://localhost:880" binding="wsDualHttpBinding" contract="isv"></endpoint>
    </client>
  </system.serviceModel>
</configuration>